<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ElliApiConfig" type="Elli.Api.Base.ApiConfiguration, Elli.Api.Base"/>
  </configSections>
  <ElliApiConfig apiHost="https://api.elliemae.com"
                 apiClientId="44bknuv"
                 clientSecret="CZWc5ZBIK9FOASzu4EnO!IDenal269oKQrUegKpc^Mm9q!Z1KE&amp;eKqcRZAilqBor"
                 idpHost="idp.elliemae.com"
                 userName="myushkevich"
                 password="Homepoint@2"
                 instanceId="TEBE11167654"
                 redirectUrl=""/>
</configuration>