<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ElliApiConfig" type="Elli.Api.Base.ApiConfiguration, Elli.Api.Base"/>
  </configSections>
  <ElliApiConfig apiHost="https://api.elliemae.com"
                 apiClientId="oqzoqq0"
                 clientSecret="PcvuGcFC#yvP^xJdhaOh4$C7I#6G5tMRxV&amp;TsB*2otp6B7g47A#jbz#PpP643#Pi"
                 idpHost="idp.elliemae.com"
                 userName="docvelocity"
                 password="CaiUsesOnly!"
                 instanceId="TEBE11173442"
                 redirectUrl=""/>
</configuration>